<h1> Welcom to the home page </h1>
<p> The res.render is used to send back html pages and the parameters are passed to the render method</p>
<p> You have accessed the page with name: <%= pname%> </p>
